/* CSS Document */
<!--
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
body {
	background-color: #96c1c8;
	background-image: url(../../_img/layout_fundo.jpg);
	background-repeat: repeat-x;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

a
{
	color:#0066CC;
	text-decoration:underline;
}
a:visited
{
	color:#6699CC;
}

.input_texto_01
{
	background:url(../../_img/input_texto_fundo.gif) repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	padding-top:4px;
	padding-left:4px;
	color:#7c8b9a;
	border:none;
	height:21px;
}

.input_texto_02
{
	background:url(../../_img/input_texto_fundo.gif) repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	padding-top:4px;
	padding-left:4px;
	color:#7c8b9a;
	border-color:#CCCCCC;
	border-bottom:1px;
	border-left:1px;
	border-right:1px;
	border-top:none;
	height:19px;
}

.input_botao_01
{
	background:url(../../_img/input_botao_fundo.gif) repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	border:none;
	height:21px;
}

.menu_util, .menu_util:visited
{
	font-size:8px;
	color:#666666;
	text-decoration:none;
}

.menu_util:hover
{
	text-decoration:underline;
}

.menu_rodape, .menu_rodape:visited
{
	font-size:9px;
	color:#FFFFFF;
	text-decoration:none;
}
.menu_rodape:hover
{
	color:#6b8aa1;
	text-decoration:underline;
}

.menu01, .menu01:visited
{
	font-size:13px;
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}
.menu01:hover
{
	color:#6b8aa1;
}

.menu02, .menu02:visited
{
	font-size:11px;
	color:#a3a3a3;
	text-decoration:none;
	font-weight:bold;
}
.menu02:hover
{
	color:#6b8aa1;
}

.menu02_link01, .menu02_link01:visited
{
	font-size:11px;
	color:#a3a3a3;
	text-decoration:underline;
	font-weight:bold;
}

.menu02_link02, .menu02_link02:visited
{
	font-size:10px;
	color:#6b8aa1;
	text-decoration:none;
	font-weight:bold;
}

.banner01, .banner01:visited
{
	font-size:11px;
	color:#FFFFFF;
	text-decoration:underline;
	font-weight:bold;
}

#conteudo {
	width: 98%;
	text-align: justify;
	padding: 5px;
	opacity: .9;
	filter: alpha(opacity=90);
	background: #FFFFFF;
}

.link01, .link01:visited
{
	font-size:13px;
	color:#FFFFFF;
	text-decoration:underline;
	font-weight:bold;
}

#pscroller1
{
	width: 100%;
	height: 200px;
	padding: 5px;
	background-color: #FFFFFF;
}

.caixa_selecao
{
	border: 1px solid black;
	padding: 2px;
	background-color: #FFFFFF;
	z-index: 100;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#CCCCCC,direction=135);
}


/* PARA MENU FLUTUANTE*/
#popitmenu{
position: absolute;
background-color: white;
border:1px solid black;
font: normal 10px Verdana;
line-height: 18px;
z-index: 100;
visibility: hidden;
}

#popitmenu a{
text-decoration: none;
padding-left: 6px;
color: black;
display: block;
}

#popitmenu a:hover{ /*hover background color*/
background-color:#DFE3F7;
}


-->