/* CSS Document */

A { 
  text-decoration : none;  
  color : #37659D ; 
  font-weight : bold; 
} 
A:active  { 
  text-decoration : underline ;  
  color : #37659D ; 
  font-weight : bold; 
} 
A:visited  { 
  text-decoration : none;  
  color : #37659D ; 
  font-weight : bold; 
} 
A:hover { 
  text-decoration : underline ;  
  color : #37659D ; 
  font-weight : bold; 
}  
 
BODY  { 
  font-family : Arial, Helvetica, sans-serif ;  
  font-size : 12px;  
  color : #000000 ;    
  margin : 5px;  
  background-color : #FFFFFF ;  
  text-align : center ; 
  line-height : 14px; 
} 
 
TABLE  { 
  font-family : Arial, Helvetica, sans-serif ;  
  font-size : 12px;  
  color : #000000 ;     
  margin : 0px;  
  background-color : #FFFFFF ;    
} 
 
DIV#cabecalho  { 
  position : relative ;  
  width : 100%;  
  border-top : 1px solid #BFBFBF ;    
  background-color : #F0F0F0 ;  
  line-height : 25px;  
  font-weight : bold;  
  font-size : 14px;  
  text-align : left; 
  vertical-align : middle ; 
  padding : 5px; 
  border-left : 1px solid #BFBFBF ;      
  border-right : 1px solid #BFBFBF ; 
} 
 
DIV#passoapasso  { 
  position : relative ;  
  width : 100% ;  
  font-size : 12px;    
  text-align : left;    
  line-height : 20px; 
  vertical-align : middle ; 
  padding : 5px; 
  border-left : 1px solid #BFBFBF ;      
  border-right : 1px solid #BFBFBF ; 
  background-color : #F9F8F8 ; 
} 
 
DIV#corpo  { 
  width : 100% ;  
  position : relative ;  
  text-align : left;  
  font-size : 12px; 
  border-top : 1px solid #BFBFBF ;      
  border-left : 1px solid #BFBFBF ;      
  border-right : 1px solid #BFBFBF ; 
  padding : 5px;     
} 
 
TABLE#opcoes  { 
  font-size :12px; 
  width : 100%; 
} 
 
.atributoNome  { 
  font-weight : bold; 
  font-size : 12px; 
} 
.atributoValor  { 
  font-size : 12px; 
} 
 
DIV#navegacao  { 
  width : 100% ;  
  padding : 5px;  
  text-align : center ;  
  position : relative ;  
  border-left : 1px solid #BFBFBF ;      
  border-right : 1px solid #BFBFBF ;   
  border-bottom : 1px solid #BFBFBF ; 
} 
 
FORM  { 
  display : inline ; 
} 
INPUT, SELECT, TEXTAREA  { 
  font-family : Arial, Helvetica, sans-serif ;  
  font-size : 12px;  
  color : #000000 ;  
  vertical-align : baseline ;  
  padding  : 1px 0px 0px 2px ; 
} 
INPUT.radio  { 
  border-width  : 0px;  
  vertical-align : middle ; 
} 
INPUT.checkbox  {
  border-width  : 0px;   
  vertical-align : middle ; 
} 
INPUT.button  { 
  padding : 0px 5px 0px 5px ;   
  margin : 0px 0px 0px 0px ;  
  background-color : #CCCCCC ; 
} 
INPUT.select  { 
  background-color : #FFFFFF ;  
  font-family : Arial, Helvetica, sans-serif ;  
  font-size : 12px;    
  color : #555555 ; 
} 