/*Wp Login Form*/
	body{background-color: #f8f8f8 ;}
	body.login div#login h1 {background: url(../img/logo.png) no-repeat top center; background-size: cover}
	body.login div#login h1 a{background: none; width: 100%}

/* Styling for the footer */
	#wpfooter #footer-left img {vertical-align: middle;}
	#wpfooter #footer-left a{color:#666}
	