
/*MULISH*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*CSS RULE*/
/*font-family: 'Mulish', sans-serif;*/

/*NOTO SANS*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*CSS RULE*/
/*font-family: 'Noto Sans', sans-serif;*/
#secReminder {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #F2F2F2;
  height: auto;
}
#secReminder img{
  position: absolute;
}
#secReminder .small{
  top: 0px;
  left: 55px;
}
#secReminder .big{
  top: 15px;
  right: 0px;
}
.reminderBanner {
  padding-bottom: 60px;
  padding-top: 25px;
}
#secStoryModB .storyContent svg {
  position: absolute;
}
/*FOOTER*/
.social-media-box {
  position: absolute;
  top: 35%;
  left: -2%;
  font-size: 20px;
}
.social-media-box li{
  margin-bottom: 5px;
}
/*TOPO*/
#secTopModB {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#secTopModB:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(270deg, rgba(160, 0, 0, 0.7) 23.16%, rgba(52, 50, 50, 0) 118.16%);
}
#secTopModB h2 {
  font-size: 41px;
  line-height: 127.9%;
  font-weight: 900;
  color: #E6E7F1;
  font-family: 'Mulish', sans-serif;
  letter-spacing: 0.045em;
  margin: 0px;
  padding-bottom: 10px;
  padding-top: 210px;
}
#secTopModB p {
  font-size: 25px;
  line-height: 127.9%;
  font-weight: 900;
  color: #E6E7F1;
  font-family: 'Mulish', sans-serif;
  letter-spacing: 0.045em;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  padding-bottom: 200px;
  margin: 0px;
}
#secTopModB .topContent {
  position: relative;
}
#secTopModB .topContent img {
  position: absolute;
  right: 0px;
  top: 52%;
}
/*VIDEOS*/
#secVideoModB {
  background-color: #F2F2F2;
}
#secVideoModB h3{
  font-size: 41px;
  font-weight: 900;
  font-family: 'Mulish', sans-serif;
  padding-top: 50px;
  padding-bottom: 15px;
  margin: 0px;
  text-align: center;
}
#secVideoModB h5{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}
#secVideoModB .videoContent {
  padding-top: 54px;
  padding-left: 130px;
  padding-right: 90px;
}
#secVideoModB .videoContent h5{
  font-family: 'Mulish', sans-serif;
}
#secVideoModB video {
  
  padding-top: 10px;
}
#secVideoModB ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  text-align: initial;
  list-style-type: disc;
  font-size: 20px;
  margin-left: 20px;
}
/*#secVideoModB ul::before {
  content: "\25CF";
  padding-right: 8px;
  font-size: 18px;
}*/
#secVideoModB .videoDescription span {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #2A2A2A;
}
/* BANNER TRANFORMAÇÃO */
#secCallBannerModB {
  padding: 0px;
}
#secCallBannerModB h2{
  font-family: 'Mulish', sans-serif;
  letter-spacing: 0.005em;
  color: #F2F2F2;
  text-align: center;
  font-weight: 900;
  padding-top: 14px;
}
#secCallBannerModB ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#secCallBannerModB li {
  font-size: 25px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  line-height: 35px;
  color: #E8E5E5;
  text-transform: uppercase;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
#secCallBannerModB li:after {
  content: '';
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 1px;
  left: 0;
  border-bottom: 4px solid #C2B21C;
  opacity: 0.7;
}
#secCallBannerModB p {
  font-weight: bold;
  font-size: 16px;
  color: #F2F2F2;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  margin-bottom: 15px;
}
#secCallBannerModB span{
  text-align: center;
  display: block;
  color: #F2F2F2;
  padding-bottom: 5px;
}
#secCallBannerModB .bgTransformation{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#secCallBannerModB .bgTransformation:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(179.64deg, rgba(96, 94, 94, 0) -36.93%, rgba(160, 0, 0, 0.6) 85.54%);
}
#secCallBannerModB .bgTransformation h2 {
  padding-top: 350px;
  padding-bottom: 50px;
  padding-left: 270px;
  padding-right: 270px;
}
/*HISTORIA*/
#secStoryModB {
  background-color: #F2F2F2;
  padding-top: 75px;
}
#secStoryModB h2{
  font-family: 'Mulish', sans-serif;
  font-size: 41px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}
#secStoryModB .storyContent {
  margin-left: 195px;
  margin-right: 195px;
  position: relative;
}
#secStoryModB .storyContent img{
  position: absolute;
}
#secStoryModB .storyContent .quoteStart {
  left: -95px;
  top: -20px;
}
#secStoryModB .storyContent .quoteEnd {
  right: -95px;
  bottom: -20px;
}
#secStoryModB .storyContent h2{
  font-family: 'Noto Sans', sans-serif;
  color: #C2B21C;
  font-weight: 800;
  margin: 0px;
}
#secStoryModB .storyContent p{
  color: #2A2A2A;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 160.9%;
  letter-spacing: 0.025em;
  /*text-indent: 8px;*/
  margin: 0px;
}
#secStoryModB .storyContent span{
  color: #2A2A2A;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 160.9%;
  letter-spacing: 0.025em;
  text-indent: 8px;
  display: block;
}
#secStoryModB .boxContrast {
  margin-bottom: 54px;
  margin-top: 54px;
}
.storyContent mark, .mark {
  padding: 0em;
  background-color: #FCE626 !important;
}
/*POR QUE A METHODUS*/
#secWhyMethodus {
  background-color: #F2F2F2;
  padding: 0px;
}
#secWhyMethodus h2{
  font-family: 'Mulish', sans-serif;
  font-size: 41px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 45px;
}
#secWhyMethodus h3{
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 32px;
  margin-top: 32px;
}
#secWhyMethodus p{
  color: #2A2A2A;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 160.9%;
  letter-spacing: 0.025em;
  /*text-indent: 8px;*/
  margin: 0px;
  text-align: justify;
}
#secWhyMethodus .methodusContent {
  margin-left: 195px;
  margin-right: 195px;
  position: relative;
}
#secWhyMethodus mark, .mark {
  padding: 0em;
  background-color: #FCE626 !important;
}
#secWhyMethodus .boxMethodusImg {
  text-align: center;
}
#secWhyMethodus .boxMethodusImg span{
  display: block;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0.025em;
  padding-top: 3px;
  padding-bottom: 15px;
}
#secWhyMethodus .differenceTitle h2{
  margin-top: 58px;
  margin-bottom: 35px;
}
#secWhyMethodus .differenceTitle h3 {
  text-transform: none;
  line-height: 160.9%;
  font-weight: 800;
  margin-left: 160px;
  margin-right: 160px;
}
#secWhyMethodus .differenceContent {
  margin-left: 195px;
  margin-right: 195px;
  position: relative;
}
#secWhyMethodus .differenceContent li::before {
  content: "\25CF";
  padding-right: 8px;
  font-size: 10px;
  color: #2EB529;
}
#secWhyMethodus .differenceContent span{
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #2A2A2A;
}
#div_carregamento {
  z-index: 500000;
}
/*BANNER REMINDER*/
#secReminder {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 65px;
}
#secReminder h2 {
  font-size: 41px;
  font-weight: 900;
  color: #F2F2F2;
  font-family: 'Mulish', sans-serif;
}
#secReminder h3 {
  font-size: 25px;
  font-weight: bold;
  color: #F2F2F2;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 42px;
}
#secReminder a {
  margin-top: 10px;
  color: #F2F2F2;
  background-color: #C2B21C;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 59px;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
  padding: 15px 46px;
  position: relative;
  cursor: pointer;
}
/*VANTAGENS*/
#secAdvantages {
  padding-top: 15px;
  background-color: #F2F2F2;
}
#secAdvantages h2{
  font-size: 41px;
  font-weight: 900;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  padding-top: 100px;
}
#secAdvantages .bannerSatisfaction {
  text-align: center;
  padding-top: 41px;
  padding-bottom: 44px;
  
}
#secAdvantages .bannerSatisfaction h2{
  color: #F2F2F2;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 13px;
  padding-top: 0px;
}
#secAdvantages .bannerSatisfaction h3{
  font-size: 25px;
  color: #F2F2F2;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
}
#secAdvantages span{
  font-family: 'Mulish', sans-serif;
  font-size: 25px;
  display: block;
  text-align: center;
  font-weight: 900;
}
#secAdvantages .advantagesBox {
  padding-top: 20px;
  margin-left: 195px;
  margin-right: 195px;
}
#secAdvantages .advantagesBox h3{
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  letter-spacing: 0.025em;
  font-weight: bold;
  margin-bottom: 0px;
}
#secAdvantages .advantagesBox p{
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.025em;
  text-indent: 8px;
  color: #000000;
  text-align: justify;
  font-weight: 600;
  font-size: 16px;
}
#secAdvantages .advantagesBox span {
  text-align: left;
  padding-top: 8px;
  padding-bottom: 32px;
}
#secAdvantages .local-video-container {
  width: 369.93px;
  height: 225.07px;
}
#secAdvantages video {
  width: 350px;
  height: 215px;
  padding-top: 10px;
}
/*BANNER VANTAGENS CURSO*/
#secBannerAdvantages {
  padding-bottom: 55px;
}
#secBannerAdvantages h2{
  font-size: 41px;
  color: #F2F2F2;
  font-weight: 900;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 60px;
}
#secBannerAdvantages h3{
  font-size: 25px;
  color: #F2F2F2;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  margin-bottom: 40px;
  line-height: 35px;
}
#secBannerAdvantages .advantagesBox {
  margin-left: 220px;
  margin-right: 220px;
  text-align: center;
}
#secBannerAdvantages a {
  margin-top: 10px;
  color: #F2F2F2;
  background-color: #C2B21C;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 59px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Noto Sans', sans-serif;
  padding: 6px 56px;
  cursor: pointer;
}
/*LOGISTICA*/
#secLogistic {
  background-color: #F2F2F2;
}
#secLogistic h2{
  font-size: 41px;
  font-weight: 900;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-top: 65px;
  margin-bottom: 5px;
}
#secLogistic h3{
  font-size: 25px;
  font-weight: 900;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
}
#secLogistic span{
  font-size: 16px;
  letter-spacing: 0.025em;
  color: #2A2A2A;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}
#secLogistic li::before {
  content: "\25CF";
  padding-right: 8px;
  font-size: 16px;
  color: #C2B21C;
}
#secLogistic li {
  padding-bottom: 16px;
}
#secLogistic .boxLogistic {
  margin-left: 195px;
  margin-right: 245px;
}
#secLogistic .boxLogistic h3{
  text-align: left;
}
#secLogistic .boxInvestiment li {
  padding-bottom: 0px;
}
/*BANNER PREÇOS*/
#secPrices {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 70px;
}
#secPrices .pricesTop {
  margin-bottom: 60px;
}
#secPrices h2{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  font-size: 37px;
  letter-spacing: 0.025em;
  color: #F2F2F2;
  margin-bottom: 20px;
}
#secPrices .featurePrice span{
  letter-spacing: 0.025em;
  font-weight: 800;
  font-size: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#secTestimony .avatarImg {
  border-radius: 50%;
  max-width: 85px;
  min-height: 85px;
  object-fit: cover;
}
#secPrices span{
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #F2F2F2;
  display: block;
  padding-top: 50px;
  padding-bottom: 70px;
}
#secPrices a {
  margin-top: 10px;
  color: #F2F2F2;
  background-color: #C2B21C;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 59px;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Noto Sans', sans-serif;
  padding: 6px 56px;
  position: relative;
  cursor: pointer;
}
#secPrices .boxWorkload {
  background-color: #F2F2F2;
  border-radius: 20px;
  width: -webkit-fill-available;
  width: fit-content;
  padding: 45px 73px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 88px;
}
#secPrices .boxWorkload p {
  font-family: 'Noto Sans', sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
  line-height: 35px;
}
#secPrices .classesDate {
  background-color: #F2F2F2;
  border-radius: 20px;
  width: -webkit-fill-available;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 75px;
}
#secPrices .classesDate p{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #C2B21C;
  margin: 0px;
}
#secPrices .classesDate small{
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #000000;
  margin: 0px;
}

#secTestimony .boxTestimony {
  text-align: center;
  background-color: #E7E7E7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 25px 122px;
  position: relative;
  min-height: 500px;
  margin-bottom: 5px;
}
#secTestimony .boxTestimony h3{
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.025em;
  margin: 0px;
  font-weight: bold;
}
#secTestimony .boxTestimony span{
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.025em;
  color: #2A2A2A;
  margin: 0px;
  font-weight: bold;
  padding-bottom: 18px;
}
#secTestimony .boxTestimony p{
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0.025em;
  color: #2A2A2A;
  margin: 0px;
  font-weight: 600;
  text-indent: 8px;
  padding-top: 18px;
}
#secTestimony .quoteSlickStart {
  top: 5px;
  left: -45px;
  position: absolute;
}
#secTestimony .quoteSlickEnd {
  bottom: -5px;
  right: -45px;
  position: absolute;
}
#secTestimony .testimonyText {
  position: relative;
}
#secTestimony h2 {
  font-family: 'Mulish', sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 35px;
  text-align: center;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 50px;
}
#secTestimony .slick-prev {
  position: absolute;
  left: -70px;
  top: 50%;
  cursor: pointer;
}
#secTestimony .slick-next {
  position: absolute;
  right: -70px;
  top: 50%;
  cursor: pointer;
}
#secTestimony .slick-slide img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*MODAIS*/
#courseModal .modal-body .box-contato {
  box-shadow: none;
}
#courseModal .modal-header {
  border-bottom: none;
}
#courseModal .modal-header span:focus{
  outline: none;
}
#courseModal .close:hover, .close:focus {
  outline: none;
}
#courseModal .close {
  opacity: .6;
  font-size: 25px;
}

#cupomModal .modal-body .box-contato {
  box-shadow: none;
}
#cupomModal .modal-header {
  border-bottom: none;
}
#cupomModal .modal-header span:focus{
  outline: none;
}
#cupomModal .close:hover, .close:focus {
  outline: none;
}
#cupomModal .close {
  opacity: .6;
  font-size: 25px;
}
#cupomModal select {
  padding-left: 10px !important;
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #212121 !important;
  padding-right: 20px;
  height: 35px;
  text-transform: none !important;
}
#cupomModal .inputCupomForm input {
  width: 100%;
}
#cupomModal .radioCupom input {
  height: unset;
}
#cupomModal .radioCupom p {
  margin-bottom: 5px;
}
#cupomModal input[type="submit"], button[type="submit"], input[type="button"] {
    height: 46px;
    background: #a00000 !important;
    color: white !important;
    border-color: #a00000 !important;
    width: 100px;
    font-size: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px !important;
    padding: 0px;
    margin-bottom: 0px;
}

/*BANNER FEATURE*/
#secFeaturedBanner {
  margin-top: 65px;
  padding-bottom: 100px;
}
#secFeaturedBanner .featuredList {
  padding-top: 70px;
  margin-left: 260px;
  margin-right: 260px;
}
#secFeaturedBanner .featuredList h2 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  font-size: 41px;
  color: #F2F2F2;
  letter-spacing: 0.025em;
  text-align: center;
  margin-bottom: 60px;
  line-height: 139.9%;
}
#secFeaturedBanner .featuredList ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: disc;
}
#secFeaturedBanner .featuredList li {
  padding-bottom: 20px;
  color: #C2B21C;
  font-size: 18px;
}
#secFeaturedBanner .featuredList span {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.025em;
  color: #F2F2F2;
}
#secFeaturedBanner .featuredCta h2 {
  padding-top: 80px;
  padding-bottom: 33px;
  font-family: 'Mulish', sans-serif;
  font-weight: 900;
  font-size: 41px;
  color: #F2F2F2;
  letter-spacing: 0.025em;
  text-align: center;
}
#secFeaturedBanner .featuredCta h3 {
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: #F2F2F2;
  letter-spacing: 0.025em;
  text-align: center;
  padding-bottom: 80px;
}
#secFeaturedBanner a {
  color: #F2F2F2;
  line-height: initial;
}
.btt2linhas {
  margin-top: 10px;
  color: #F2F2F2;
  background-color: #C2B21C;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 59px;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Noto Sans', sans-serif;
  padding: 17px 24px;
  position: relative;
}
#secFeaturedBanner .featuredCta {
  text-align: center;
}
#secFeaturedBanner .box-contato {
  padding: 0px;
  box-shadow: none;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#secFeaturedBanner .box-contato .titulo-box {
  border-radius: 0px;
}
#secFeaturedBanner .box-contato .mainClass {
  margin-top: 10px !important;
  color: #F2F2F2 !important;
  background-color: #C2B21C !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25) !important;
  border-radius: 59px !important;
  font-weight: bold !important;
  font-size: 20px !important;
  font-family: 'Noto Sans', sans-serif !important;
  padding: 25px 45px !important;
  position: relative !important;
  border: none !important;
  max-width: fit-content !important;
  max-width: -moz-fit-content;
  height: auto !important;
  margin-bottom: 10px !important;
}
@media (max-width: 1980px) and (min-width: 1600px){
  #secFeaturedBanner .box-contato .mainClass {
    font-size: 36px !important;
    padding: 25px 70px !important;
    margin-bottom: 20px !important;
  }
  #secTopModB {
    padding-top: 85px;
    padding-bottom: 85px;
  }
  #secReminder {
    padding-top: 125px;
    padding-bottom: 190px;
  }
  #secReminder h2 {
    font-size: 45px;
    margin-bottom: 35px;
  }
  #secReminder h3 {
    font-size: 30px;
    margin-bottom: 55px;
  }
  #secCallBannerModB .bgTransformation h2 {
    padding-top: 505px;
  }
}
@media (max-width: 1024px){
  #secReminder .big {
    right: 10px;
    width: 15%;
  }
  #secReminder .small {
    width: 10%;
  }
  #secReminder {
    height: 335px;
    padding-top: 55px;
    padding-bottom: 45px;
  }
  #secFeaturedBanner .box-contato .mainClass {
    font-size: 18px !important;
    padding: 15px 45px !important;
  }
  #secTopModB h2 {
    font-size: 35px;
    padding-top: 135px;
  }
  #secTopModB p {
    font-size: 20px;
    padding-bottom: 110px;
  }
  #secVideoModB h3 {
    font-size: 35px;
  }
  #secVideoModB h5 {
    font-size: 20px;
  }
  #secVideoModB .videoContent {
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 10px;
  }
  #secVideoModB .videoDescription span {
    font-size: 14px;
  }
  #secCallBannerModB h2 {
    padding-top: 25px;
    font-size: 35px;
  }
  #secCallBannerModB li {
    font-size: 20px;
  }
  #secCallBannerModB ul {
    margin-bottom: 15px;
  }
  #secCallBannerModB p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  #secCallBannerModB .bgTransformation h2 {
    padding-top: 175px;
    padding-left: 190px;
    padding-right: 190px;
    font-size: 35px;
  }
  #secStoryModB {
    padding-top: 60px;
  }
  #secStoryModB h2 {
    font-size: 35px;
  }
  #secStoryModB .storyContent p {
    font-size: 14px;
  }
  #secStoryModB .storyContent span {
    font-size: 22px;
  }
  #secStoryModB .storyContent .quoteStart {
    left: -80px;
    max-width: 10%;
  }
  #secStoryModB .storyContent .quoteEnd {
    right: -80px;
    max-width: 10%;
  }
  #secWhyMethodus h2 {
    font-size: 35px;
    margin-bottom: 35px;
  }
  #secWhyMethodus p {
    font-size: 14px;
  }
  #secWhyMethodus h3 {
    font-size: 20px;
  }
  #secWhyMethodus .differenceContent span {
    font-size: 14px;
  }
  #secAdvantages h2 {
    font-size: 35px;
  }
  #secAdvantages .bannerSatisfaction h3 {
    font-size: 20px;
  }
  #secAdvantages .local-video-container {
    width: 290.93px;
    height: 190.07px;
    object-fit: cover;
  }
  #secAdvantages video {
    width: 290px;
    height: 180px;
  }
  #secAdvantages span {
    font-size: 20px;
  }
  #secAdvantages h2 {
    padding-top: 60px;
  }
  #secAdvantages .advantagesBox {
    padding-top: 5px;
  }
  #secAdvantages .advantagesBox h3 {
    font-size: 20px;
  }
  #secAdvantages .advantagesBox p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  #secAdvantages .advantagesBox span {
    padding-bottom: 15px;
  }
  #secBannerAdvantages h2 {
    font-size: 35px;
    padding-top: 30px;
    margin-bottom: 35px;
  }
  #secBannerAdvantages h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  #secBannerAdvantages a {
    font-size: 30px;
    padding: 6px 50px;
  }
  #secBannerAdvantages .advantagesBox {
    margin-left: 180px;
    margin-right: 180px;
  }
  #secLogistic h2 {
    font-size: 35px;
    padding-top: 30px;
  }
  #secLogistic h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  #secLogistic span {
    font-size: 14px;
  }
  #secPrices h2 {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 15px;
  }
  #secPrices a {
    font-size: 30px;
    padding: 6px 50px;
  }
  #secPrices span {
    font-size: 20px;
    padding-bottom: 45px;
  }
  #secPrices .boxWorkload p {
    font-size: 22px;
  }
  #secPrices .boxWorkload {
    padding: 35px 50px;
    margin-bottom: 48px;
  }
  #secPrices .classesDate {
    margin-top: 50px;
  }
  #secPrices .classesDate p {
    font-size: 20px;
  }
  #secPrices .classesDate small {
    font-size: 14px;
  }
  #secTestimony h2 {
    font-size: 35px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 30px;
  }
  #secTestimony .slick-next {
    top: 50%;
  }
  #secTestimony .slick-prev {
    top: 50%;
  }
  #secTestimony .boxTestimony {
    padding: 25px 90px;
  }
  #secTestimony .boxTestimony h3 {
    font-size: 20px;
  }
  #secTestimony .boxTestimony p {
    font-size: 12px;
  }
  #secTestimony .boxTestimony span {
    font-size: 20px;
    padding-bottom: 10px;
  }
  #secFeaturedBanner .featuredList {
    padding-top: 35px;
    margin-left: 155px;
    margin-right: 155px;
  }
  #secFeaturedBanner .featuredList h2 {
    font-size: 35px;
  }
  #secFeaturedBanner .featuredList span {
    font-size: 14px;
  }
  #secFeaturedBanner .featuredList li {
    padding-bottom: 15px;
    font-size: 16px;
  }
  #secFeaturedBanner .featuredCta h2 {
    padding-top: 40px;
    padding-bottom: 25px;
    font-size: 35px;
  }
  #secFeaturedBanner .featuredCta h3 {
    font-size: 20px;
    padding-bottom: 50px;
  }
  #secFeaturedBanner a {
    font-size: 30px;
    padding: 6px 50px;
  }
  #secReminder {
    padding-top: 55px;
    padding-bottom: 100px;
  }
  #secReminder h2 {
    font-size: 35px;
    margin-bottom: 0px;
  }
  #secReminder a {
    font-size: 16px;
    padding: 10px 18px;
  }
  #secReminder h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px){
  #secReminder .small {
    top: 5px;
    left: 30px;
    width: 10%;
  }
  #secReminder {
    height: 235px;
  }
  .reminderBanner {
    padding-bottom: 50px;
  }
  #secReminder .big {
    width: 14%;
  }
  #secTopModB h2 {
    font-size: 28px;
    padding-top: 100px;
  }
  #secTopModB p {
    font-size: 15px;
    padding-bottom: 70px;
  }
  #secVideoModB h3 {
    font-size: 30px;
  }
  #secVideoModB h5 {
    font-size: 18px;
  }
  #secVideoModB .videoContent {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #secVideoModB .videoDescription span {
    font-size: 12px;
  }
  #secCallBannerModB h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  #secCallBannerModB li {
    font-size: 18px;
  }
  #secStoryModB h2 {
    font-size: 28px;
  }
  #secStoryModB .storyContent {
    margin-left: 85px;
    margin-right: 85px;
  }
  #secStoryModB .storyContent .quoteStart {
    left: -55px;
    top: -10px;
    max-width: 8%;
  }
  #secStoryModB .storyContent .quoteEnd {
    right: -55px;
    max-width: 8%;
    bottom: -10px;
  }
  #secStoryModB .boxContrast {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  #secWhyMethodus h2 {
    font-size: 28px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
  }
  #secWhyMethodus .methodusContent {
    margin-left: 85px;
    margin-right: 85px;
  }
  #secWhyMethodus h3 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #secWhyMethodus .boxMethodusImg span {
    font-size: 14px;
    padding-bottom: 10px;
  }
  #secWhyMethodus .differenceTitle h3 {
    margin-left: 90px;
    margin-right: 90px;
  }
  #secWhyMethodus .differenceTitle h2 {
    margin-top: 35px;
    margin-bottom: 20px;
  }
  #secWhyMethodus .differenceContent {
    margin-left: 85px;
    margin-right: 85px;
  }
  #secAdvantages h2 {
    font-size: 28px;
  }
  #secAdvantages .bannerSatisfaction h3 {
    font-size: 18px;
  }
  #secAdvantages .advantagesVideos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #secAdvantages span {
    font-size: 18px;
  }
  #secAdvantages h2 {
    padding-top: 25px;
  }
  #secAdvantages .advantagesBox h3 {
    font-size: 18px;
  }
  #secAdvantages .advantagesBox {
    padding-top: 0px;
    margin-left: 85px;
    margin-right: 85px;
  }
  #secBannerAdvantages h2 {
    font-size: 28px;
    padding-top: 25px;
    margin-bottom: 25px;
  }
  #secBannerAdvantages .advantagesBox {
    margin-left: 110px;
    margin-right: 110px;
  }
  #secBannerAdvantages h3 {
    font-size: 18px;
    margin-bottom: 25px;
  }
  #secBannerAdvantages a {
    font-size: 25px;
    padding: 6px 40px;
  }
  #secLogistic h2 {
    font-size: 28px;
    padding-top: 15px;
  }
  #secLogistic h3 {
    font-size: 18px;
  }
  #secLogistic .boxLogistic {
    margin-left: 85px;
    margin-right: 85px;
  }
  #secPrices h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  #secPrices a {
    font-size: 25px;
    padding: 6px 40px;
  }
  #secPrices .boxWorkload p {
    font-size: 20px;
  }
  #secPrices .boxWorkload {
    padding: 30px 40px;
    margin-bottom: 35px;
  }
  #secPrices .classesDate {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  #secPrices {
    padding-bottom: 55px;
  }
  #secTestimony h2 {
    font-size: 28px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 15px;
  }
  #secTestimony .boxTestimony {
    padding: 40px 70px;
  }
  #secTestimony .boxTestimony h3 {
    font-size: 18px;
    line-height: 30px;
  }
  #secTestimony .boxTestimony span {
    font-size: 18px;
    padding-bottom: 10px;
  }
  #secFeaturedBanner .featuredList h2 {
    font-size: 28px;
  }
  #secFeaturedBanner .featuredList {
    margin-left: 80px;
    margin-right: 80px;
  }
  #secFeaturedBanner .featuredCta h2 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 28px;
    margin-bottom: 5px;
  }
  #secFeaturedBanner .featuredCta h3 {
    font-size: 16px;
    padding-bottom: 35px;
    line-height: 30px;
  }
  #secFeaturedBanner a {
    font-size: 25px;
    padding: 6px 40px;
  }
  #secReminder {
    padding-top: 40px;
    padding-bottom: 65px;
  }
  #secReminder h2 {
    font-size: 28px;
    line-height: 30px;
  }
  #secReminder h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  #secReminder a {
    font-size: 14px;
    padding: 8px 14px;
  }
  #secFeaturedBanner .box-contato {
    margin: 10px;
  }
}
@media (max-width: 425px){
  #secReminder {
    height: auto;
  }
  #secReminder {
    padding-bottom: 0px;
  }
  #secReminder .small {
    top: 30px;
    left: 12px;
  }
  .reminderBanner {
    padding-bottom: 30px;
  }
  #secReminder .big {
    right: 2px;
    top: 42px;
  }
  #secFeaturedBanner .box-contato .mainClass {
    font-size: 12px !important;
    padding: 15px 10px !important;
  }
  #secTopModB h2 {
    font-size: 22px;
    padding-top: 90px;
  }
  #secTopModB p {
    font-size: 14px;
  }
  #secTopModB .topContent img {
    right: 20px;
    top: 42%;
  }
  #secVideoModB h3 {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 5px;
  }
  #secVideoModB .videoContent {
    padding-top: 5px;
  }
  #secCallBannerModB h2 {
    font-size: 25px;
  }
  #secCallBannerModB ul {
    display: block;
  }
  #secCallBannerModB li {
    font-size: 16px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    width: -moz-fit-content;
  }
  #secCallBannerModB .bgTransformation h2 {
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
  }
  #secStoryModB h2 {
    font-size: 22px;
  }
  #secStoryModB .storyContent {
    margin-left: 25px;
    margin-right: 25px;
  }
  #secStoryModB .storyContent .quoteStart {
    left: -25px;
    top: 0px;
    max-width: 6%;
  }
  #secStoryModB .storyContent .quoteEnd {
    right: -25px;
    max-width: 6%;
    bottom: 0px;
  }
  #secStoryModB .storyContent span {
    font-size: 20px;
  }
  #secWhyMethodus h2 {
    font-size: 22px;
    margin-left: 5px;
    margin-right: 5px;
  }
  #secWhyMethodus .methodusContent {
    margin-left: 25px;
    margin-right: 25px;
  }
  #secWhyMethodus h3 {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  #secWhyMethodus .differenceTitle h3 {
    margin-left: 25px;
    margin-right: 25px;
  }
  #secWhyMethodus .differenceContent {
    margin-left: 25px;
    margin-right: 25px;
  }
  #secAdvantages h2 {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #secAdvantages .bannerSatisfaction {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 40px;
  }
  #secAdvantages .bannerSatisfaction h3 {
    font-size: 16px;
  }
  #secAdvantages span {
    font-size: 16px;
  }
  #secAdvantages h2 {
    font-size: 24px;
  }
  #secAdvantages .advantagesBox {
    margin-left: 25px;
    margin-right: 25px;
  }
  #secAdvantages .advantagesBox h3 {
    font-size: 16px;
  }
  #secBannerAdvantages h2 {
    font-size: 24px;
  }
  #secBannerAdvantages .advantagesBox {
    margin-left: 25px;
    margin-right: 25px;
  }
  #secBannerAdvantages h3 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  #secBannerAdvantages a {
    font-size: 12px;
    padding: 6px 10px;
  }
  #secLogistic h2 {
    font-size: 24px;
  }
  #secLogistic h3 {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #secLogistic .boxLogistic {
    margin-left: 25px;
    margin-right: 25px;
  }
  #secPrices h2 {
    font-size: 20px;
  }
  #secPrices a {
    font-size: 12px;
    padding: 6px 10px;
  }
  #secPrices .boxWorkload p {
    font-size: 16px;
  }
  #secPrices .boxWorkload {
    padding: 20px 25px;
    margin-bottom: 25px;
  }
  #secPrices span {
    font-size: 18px;
    padding-bottom: 40px;
  }
  #secPrices .classesDate p {
    font-size: 18px;
  }
  #secPrices .classesDate small {
    font-size: 12px;
  }
  #secPrices .classesDate {
    padding: 20px 20px;
  }
  #secTestimony h2 {
    font-size: 24px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
  }
  #secTestimony .boxTestimony span {
    font-size: 16px;
    padding-bottom: 0px;
  }
  #secTestimony .boxTestimony h3 {
    font-size: 16px;
    line-height: 25px;
  }
  #secTestimony .quoteSlickEnd {
    right: -35px;
    max-width: 10%;
  }
  #secTestimony .quoteSlickStart {
    left: -35px;
    max-width: 10%;
    top: 15px;
  }
  #secFeaturedBanner .featuredList {
    padding-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
  }
  #secFeaturedBanner .featuredList h2 {
    font-size: 24px;
    margin-bottom: 45px;
  }
  #secFeaturedBanner .featuredList ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    list-style-type: disc;
  }
  #secFeaturedBanner .featuredCta h2 {
    padding-top: 0px;
    font-size: 24px;
  }
  #secFeaturedBanner .featuredCta h3 {
    font-size: 16px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #secFeaturedBanner {
    margin-top: 45px;
    padding-bottom: 50px;
  }
  #secFeaturedBanner a {
    font-size: 16px;
    padding: 6px 15px;
  }
  #secReminder {
    padding-top: 25px;
    padding-bottom: 30px;
  }
  #secReminder a {
    font-size: 8px;
    padding: 4px 7px;
  }
  #secReminder h2 {
    font-size: 16px;
    line-height: 15px;
  }
  #secReminder h3 {
    font-size: 14px;
    margin-bottom: 0px;
    line-height: 20px;
  }
}
@media (max-width: 375px){
  #secReminder .small {
    top: 35px;
    left: 10px;
  }
  #secReminder .big {
    right: 2px;
    top: 15px;
  }
  #secReminder {
    height: auto;
  }
  #secTopModB h2 {
    font-size: 20px;
    padding-top: 50px;
  }
  #secTopModB p {
    font-size: 12px;
    padding-bottom: 40px;
  }
  #secCallBannerModB .bgTransformation h2 {
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
  }
}
@media (max-width: 320px){
  #secReminder .big {
    right: 2px;
    b top: 30px;
    width: 12%;
  }
  .reminderBanner {
    padding-bottom: 20px;
  }
  #secReminder {
    height: auto;
  }
}