/* 
* Fonte Padrão
* 
* Stylesheet.css
* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
*   
* header.php
* <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
* 
*/

@import url("https://fonts.googleapis.com/css?family=Rochester&display=swap");

/*-------------------- NOVOS AJUSTES HOME --------------------*/

/*  Fontes  */
h1,
h2,
h3,
h4,
h5,
p,
a,
input,
button,
li {
    font-family: Roboto, sans-serif;
}

/* Header */

.menu {
    display: flex;
    justify-content: space-evenly;
}

.nav-bar .module,
.nav-bar .module-group {
    width: 100%;
}

.nav-utility {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body div.nav-container nav div.nav-utility div:nth-child(2) i {
    position: absolute;
    top: 1px;
    left: -15px;
}

body div.nav-container nav div.nav-utility div:nth-child(2) {
    border-right: 0.75px solid rgb(176, 181, 197);
    position: relative;
    height: 100%;
    text-align: center;
}

.nav-utility .module.left:nth-child(3) {
    border-right: 0.75px solid rgb(176, 181, 197);
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-utility .module.left a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #212121;
}

.nav-utility .btn {
    background: #e6e6e6 !important;
    border-radius: 25.5px;
    border: none;
    padding: 8px 20px;
    display: flex;
    align-items: center;
}

.nav-utility .btn i {
    font-size: 30px;
    margin-right: 5px;
}

.menu > li > a:hover {
    opacity: 0.5 !important;
}

.menu > li ul > li:hover {
    background-color: #132f85 !important;
}

.menu > li ul {
    background-color: #304da5 !important;
    margin-top: -20px !important;
    padding: 0;
}

.menu > li ul > li {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.56);
    padding: 3px 0;
}

.menu > li ul > li:last-child {
    border-bottom: none;
}

.module {
    padding: 0 40px !important;
}

.parallax:first-child .slides li > .background-image-holder,
.parallax:first-child .background-image-holder {
    top: 0 !important;
}

/* Slider */

.image-bg .btn-filled {
    background: #252c80;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-bg .btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-bg h1 {
    font-style: normal;
    font-weight: 500 !important;
    font-size: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-bg p {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.overlay:before {
    background: rgba(70, 70, 70, 0.63) !important;
    opacity: 1 !important;
}

/* Section Methodus */

#home-section-methodus {
    padding: 0;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

#home-section-methodus .methodus-curso-presencial {
    min-height: 427px !important;
    display: flex !important;
    align-items: center !important;
    padding-left: 100px !important;
}

#home-section-methodus img {
    width: 300px !important;
}

#home-section-methodus p {
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 18px !important;
    color: #212121 !important;
}

#home-section-methodus h3 {
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 28px !important;
    color: #ffffff !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

#home-section-methodus .methodus-curso-presencial a {
    background: #ffffff !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 25.5px !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    text-align: center !important;
    color: #252c80 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    font-family: Roboto;
}

#home-section-methodus .methodus-cursos,
#home-section-methodus .methodus-curso-presencial {
    padding: 40px 100px !important;
}

#home-section-methodus .methodus-cursos {
    border-bottom: 4px solid #304da5;
    position: relative;
}

#home-section-methodus .methodus-cursos:after {
    content: "";
    width: 86px;
    height: 100%;
    background-color: #f8f8f8;
    right: -43px;
    transform: skew(-11deg);
    position: absolute;
    top: 0;
    z-index: 1;
}

#home-section-methodus .content-cursos {
    max-width: 600px !important;
    margin: 0 auto !important;
}

#home-section-methodus .botao-section-methodus {
    display: flex !important;
    justify-content: flex-end !important;
}

/* Nossos Cursos  */

#home-nossos-cursos-section {
    padding: 0px 0 90px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.position-relative {
    position: relative;
}

.mb-0 {
    margin-bottom: 0;
}

.barra:after {
    width: 88px;
    border: 2px solid #304da5;
    content: "";
    position: absolute;
}

.nossos-cursos-titulo {
    margin: 50px 0 100px !important;
}

#nossos_cursos p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.home-cursos-box {
    display: flex;
    min-height: 80px;
    align-items: center;
}

.home-cursos-box img {
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

/* Teste */

#home-teste {
    padding: 50px 0 !important;
}

#home-teste h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px !important;
}

#home-teste a {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25.5px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #252c80;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-image {
    background: url("../img/section-home-bg.png"), #304da5;
}

/*  Nossos cursos  */

#home-nossos-cursos {
    padding: 50px 0 !important;
    background-size: cover !important;
}

#home-nossos-cursos h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #252c80;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px !important;
}

#home-nossos-cursos a {
    background: #252c80;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25.5px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 4px 60px;
}

#home-nossos-cursos a:hover {
    color: #fff !important;
}

/*  Footer  */

.title_footer {
    border-bottom: none !important;
}

.title_footer a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color: #212121 !important;
}

.title_footer a:hover {
    color: unset !important;
}

.menu-item a {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #304da5;
}

.menu-item a:hover {
    opacity: 0.5;
}

#menu-footer-oratoria .menu-item a:hover {
    color: #000;
    opacity: 1;
}

footer {
    padding: 0 !important;
}

.copy .sub {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #212121;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.footer-1 .widget {
    margin-bottom: 25px;
    padding-top: 50px;
}

.bg-footer {
    background-color: #f4f4f4 !important;
    padding: 60px 0px 0px;
}

.bg-footer-2 {
    padding: 25px 0 !important;
}

/*  Newsletter  */

#secao_generico_popup {
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-size: contain !important;
}

.accordion-1 .active .title {
    background-color: transparent !important;
}

#leftpopup {
    width: 100% !important;
}

.accordion-1 .content {
    border: none !important;
}

#secao_generico_popup input[type="text"] {
    border: none !important;
    background: transparent !important;
    border-bottom: 1px solid #f6f6f6 !important;
    height: auto !important;
    padding-left: 0 !important;
}

#secao_generico_popup input[type="text"]::placeholder {
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #f7f7f7 !important;
}

#rightpopup {
    width: 100% !important;
}

.radio_cursos .radio {
    margin: 0 !important;
}

.radio span::after {
    background-color: #304da5 !important;
}

.radio input:checked + span {
    border: 3px solid transparent !important;
}

.radio_cursos {
    display: inline-flex !important;
    width: 33.33% !important;
    align-items: flex-start !important;
    padding-bottom: 10px;
}

.accordion-1 .title span {
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 28px !important;
    line-height: 33px !important;
    color: #ffffff !important;
}

.radio_cursos label {
    font-size: 10px !important;
    color: #f7f7f7 !important;
    margin-right: 10px !important;
    font-weight: 300;
    line-height: 15px;
}

.radio span {
    margin: 0 !important;
}

#secao_generico_popup .bio_btn {
    background: #ffffff !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 25.5px !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    text-align: center !important;
    color: #252c80 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border: none !important;
    margin-top: 20px !important;
    padding: 10px 20px !important;
    font-weight: 500 !important;
}

/*  Imagem  */

#home-imagem-section {
    margin-top: 50px !important;
}

#home-imagem-section img {
    border-radius: 5px;
}

#home-imagem-section h6 {
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 24px !important;
    line-height: 28px !important;
    color: #212121 !important;
    margin-bottom: 10px !important;
    margin-top: 50px;
}

#home-imagem-section p {
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    color: #212121 !important;
    margin-top: 30px !important;
}

#home-imagem-section a {
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    text-align: center !important;
    color: #ffffff !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    background: #252c80 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 25.5px !important;
}

.barra-imagem:after {
    width: 88px;
    border: 2px solid #304da5;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
}

#home-imagem-section .botao-section-imagem {
    text-align: right;
}

/* Depoimento Carrocel */

.carrocel-dep .barra:after {
    margin-left: -44px;
}

.lead.cada-depoimento {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #212121;
    margin-bottom: 15px;
}

.lead.cada-depoimento b {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #212121;
}
.depo-nome {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #212121;
}

.testimonials .quote-author {
    text-align: center !important;
}

.testimonials .quote-author h6 {
    margin-bottom: 30px;
}

.testimonials .cada-depoimento b {
    display: block;
}

.testimonials .cada-depoimento i {
    font-size: 100px;
    color: #000;
    font-family: "Rochester";
}

.testimonials .cada-depoimento #aspa_1 {
    position: absolute;
    left: -60px;
}

.testimonials .cada-depoimento #aspa_2 {
    position: absolute;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    bottom: 0;
    right: -50px;
}

.testimonials .flex-direction-nav {
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: skew(3deg);
}

.testimonials .flex-direction-nav a {
    background: #252c80;
    border-radius: 0px 20px 20px 0px !important;
    transform: rotate(-180deg);
    color: #fff !important;
    width: 40px;
}

.text-slider .flex-direction-nav a.flex-prev {
    left: -23px;
}

.testimonials .flex-direction-nav .flex-next {
    transform: none;
}

.testimonials .flex-direction-nav a.flex-prev:before {
    transform: rotate(-180deg);
    margin-right: 5px;
}

.testimonials .flex-direction-nav a.flex-next:before {
    margin-right: 7px;
}

.testimonials .flex-direction-nav a.flex-prev:before,
.testimonials .flex-direction-nav a.flex-next:before {
    color: #fff !important;
}

.carrocel-dep {
    padding: 60px 0;
}

.carrocel-dep .testimonials .quote-author img {
    float: none;
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.carrocel-dep h3 {
    margin-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #212121;
}

.carrocel-dep .testimonials .quote-author span {
    display: inline;
}

/*-------------------- NOVOS AJUSTES HOME --------------------*/

#contato-conteudo h4 {
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    color: rgba(0, 0, 0, 0.6);
}
#contato-conteudo p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6);
}
#contato-conteudo i {
    margin-right: 5px;
    font-size: 17px;
}
#contato-conteudo input[type="text"] {
    background: #f1f1f1;
    border: none;
    border-radius: 3px;
}
#contato-conteudo textarea {
    resize: vertical;
}
#contato-conteudo input[type="text"]::placeholder,
#contato-conteudo textarea::placeholder {
    font-family: Roboto !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    line-height: 142.19% !important;
    letter-spacing: 0.015em !important;
    color: rgba(0, 0, 0, 0.6) !important;
}
#contato-conteudo button[type="submit"] {
    background: #252c80;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25.5px !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
}

/*-------------------- NOVOS AJUSTES ARTIGOS --------------------*/

#artigos-pagina {
    padding: 70px 0 !important;
}

#artigos-pagina #conteudo_paginado {
    padding-right: 100px;
}

#artigos-pagina h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

#artigos-pagina .container-artigo {
    background: #f8f8f8;
    border-radius: 0px 5px 5px 5px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}

#artigos-pagina .conteudo-artigo {
    padding: 10px;
}

#artigos-pagina .conteudo-noticia {
    padding: 10px;
    width: 100%;
}

#artigos-pagina .conteudo-artigo h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

#artigos-pagina .conteudo-artigo p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

#artigos-pagina .conteudo-artigo span {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

#artigos-pagina .conteudo-artigo a {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
}

#artigos-pagina .imagem-artigo {
    height: 200px;
    max-width: 200px;
}

#artigos-pagina .imagem-noticia {
    height: 200px;
}

#artigos-pagina .imagem-artigo img {
    height: 100%;
    width: 100%;
    border-radius: 5px 0px 0px 5px;
}

#artigos-pagina .imagem-noticia img {
    height: 100%;
    max-width: 200px;
    border-radius: 5px 0px 0px 5px;
}

#artigos-pagina .footer-artigo {
    display: flex;
    justify-content: space-between;
}

#artigos-pagina .footer-not {
    /*padding-top: 60px;*/
}

#artigos-pagina .footer-artigo a {
    display: flex;
    align-items: center;
}

#artigos-pagina .footer-artigo i {
    margin-left: 10px;
    font-size: 30px;
}

#artigos-pagina .input-artigo {
    display: flex;
}

#artigos-pagina .input-artigo input[type="text"] {
    background: #ffffff;
    border: 0.5px solid rgba(52, 52, 52, 0.13);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 37px;
    margin-right: -1px;
}

#artigos-pagina .input-artigo input[type="submit"] {
    background: #304da5;
    border: 0.5px solid rgba(52, 52, 52, 0.13);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 37px;
    padding: 0;
}

#artigos-pagina .widget-methodus h6 {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-transform: none;
    margin-bottom: 10px;
}

#artigos-pagina .widget-methodus .link-list li:hover {
    opacity: 0.5;
}

#artigos-pagina .widget-methodus .link-list a {
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    position: relative;
}

#artigos-pagina .widget-methodus .link-list a:before {
    content: ">";
    position: absolute;
    left: -15px;
    color: #304da5;
    font-weight: 800;
    font-size: 20px;
    font-family: cursive;
}

#artigos-pagina .link-list {
    margin-left: 12px;
}

/*-------------------- NOVOS AJUSTES LIVROS --------------------*/

#livros-pagina {
    padding: 70px 0 !important;
}

#livros-pagina .container-livro {
    margin-bottom: 40px;
}

#livros-pagina h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

#livros-pagina .label {
    background: #252c80;
    border-radius: 10.5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
}

#livros-pagina .post-title h4 {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

#livros-pagina .post-title p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

#livros-pagina .input-artigo {
    display: flex;
}

#livros-pagina .input-artigo input[type="text"] {
    background: #ffffff;
    border: 0.5px solid rgba(52, 52, 52, 0.13);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 37px;
    margin-right: -1px;
}

#livros-pagina .input-artigo input[type="submit"] {
    background: #304da5;
    border: 0.5px solid rgba(52, 52, 52, 0.13);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 37px;
    padding: 0;
}

#livros-pagina .widget-methodus h6 {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-transform: none;
    margin-bottom: 10px;
}

#livros-pagina .widget-methodus .link-list a {
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    position: relative;
}

#livros-pagina .widget-methodus .link-list a:before {
    content: ">";
    position: absolute;
    left: -15px;
    color: #304da5;
    font-weight: 800;
    font-size: 20px;
    font-family: cursive;
}

#livros-pagina .link-list {
    margin-left: 12px;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

.accordion-1 .content {
    border: 0;
}

.header_mobile {
    display: none;
}

.altura {
    padding: 200px 0px;
}

.bg-secondary_methodus {
    background: #f8f8f8;
}

.bg-secondary_methodus .lead p {
    font-size: 18px !important;
}

.title_upercase h4,
.title_upercase h5 {
    text-transform: uppercase;
}

.widgettitle {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 12px;
}

.busca-widget .btn-input {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 2px solid #1f367e;
    padding: 0 26px;
    height: 40px;
    width: 50%;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    color: #1f367e;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
    background-color: transparent;
}

.widget-methodus h6 {
    text-transform: uppercase;
}

/* Header
----------------------------------------------------------------------------- */
@media all and (max-width: 900px) {
    body div.nav-container nav div.nav-utility div:nth-child(2),
    body div.nav-container nav div.nav-utility div:nth-child(3) {
        display: none;
    }
    .menu > li {
        margin: 0 !important;
    }
    .menu > li ul {
        width: 100% !important;
    }
}
body div.nav-container nav div.nav-utility div:nth-child(2) {
    max-width: 250px;
}
.menu-item-has-children {
    padding-right: 18px !important;
}

.menu-item-has-children:after {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    content: "\e64b";
    font-family: "themify";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}
.info_header .module {
    max-width: 350px !important;
}

#menu .menu-item ul li a:after {
    content: "";
}
.title_footer {
    border-bottom: 1px #ccc solid;
    padding-bottom: 10px;
}

/* Paginação
----------------------------------------------------------------------------- */
/*.paginacao ul{
    display: inline-flex;
}

.paginacao ul li{
    padding: 10px;
    border: 0.5 #ccc solid;
}
.paginacao ul li.active,
.paginacao ul li.active:hover{
    padding: 10px;
    background-color: #1F367E !important;
    color: #fff;
    border-color: #1F367E !important;
    }*/

.pagination {
    margin: 0;
    display: inline-flex !important;
    transform: skew(3deg);
}
.pagination li {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pagination li a {
    margin: 0 !important;
    background: #e6e5e5 !important;
    box-shadow: inset -4px 4px 5px rgba(0, 0, 0, 0.05) !important;
}

.pagination a li {
    width: 45px;
    height: 32px;
    padding: 0;
    text-align: center;
    padding-top: 6px;
    margin: 0;
    color: #292929;
    font-weight: 400;
    background: #e6e5e5;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.pagination > li:first-child > a {
    width: 45px !important;
    margin-right: 2px !important;
    border-radius: 20px 0 0 20px !important;
}

.pagination > li:last-child > a {
    width: 45px !important;
    margin-left: 2px !important;
    border-radius: 0px 20px 20px 0px !important;
}

.pagination > li:last-child > a > span,
.pagination > li:first-child > a > span {
    font-size: 20px;
}

.pagination > li:first-child > a:hover,
.pagination > li:last-child > a:hover {
    color: #1f367e !important;
}

.pagination a li:hover,
.pagination a li.active,
.pagination a.active:hover li {
    color: #1f367e !important;
    border-bottom: 2px solid #1f367e !important;
}

/* CURSOS */
/* CURSO DE ORATÓRIA */
.conteudo-curso ul {
    padding-left: 18px;
}

/* SOBRE */
/* SOBRE A METHODUS */
.sobre-methodus p {
    margin: 0;
}

/* SOLICITE CONVÊNIO */
.convenio h2 {
    font-size: 40px;
    line-height: 48px;
}

/* METHODUS CONTRATA */
.methodus-contrata p {
    margin: 0px 0px 5px;
}

/*Cursos*/
.page-curso .page-title-4 {
    height: 380px;
}

.page-curso .background-image {
    background: rgba(0, 0, 0, 0.45) !important;
}

.page-curso .titulo-curso {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #ffffff;
}

.page-curso .titulo-curso span {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    padding-top: 5px;
}

.page-curso .bg_ebook {
    background: #f5f5f5 !important;
    height: auto;
}

.bg_ebook form {
    padding-bottom: 20px;
}

.page-curso .caixa_ebook {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.page-curso .caixa_ebook img {
    width: 145px;
    padding-top: 30px;
    margin-right: 40px;
}

.page-curso .caixa_ebook.vermelho h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}

.page-curso .chamada-ebook {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #212121;
    text-transform: none;
    text-align: left;
    letter-spacing: normal;
    padding-top: 55px;
    padding-left: 166px;
}

.page-curso .caixa_ebook h5 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #212121;
    padding-top: 55px;
}

.page-curso .caixa_ebook input {
    padding: 0;
    color: black !important;
    outline: none;
    font-weight: 300;
}

.page-curso .caixa_ebook input[type="text"] {
    border: none;
    border-bottom: 1px solid rgba(52, 52, 52, 0.64);
}

.page-curso .cada-input {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    color: rgba(52, 52, 52, 0.64) !important;
}

.page-curso .caixa_ebook button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25.5px !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    height: 40px !important;
    margin-left: 50%;
}

.prox-turma {
    background: #e5e5e5;
    padding: 40px 0 50px;
}

.prox-turma .number {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    color: #212121;
}

.prox-turma .texto-escuro-mentoria {
    margin-top: 10px;
    font-size: 22px;
    line-height: 40px;
}

.prox-turma .cada-turma {
    background: #fafafa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 200px;
    margin-right: 15px;
    padding: 30px 30px 20px 35px;
    min-height: 237px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 15px;
}

.prox-turmas-cards {
    display: flex;
    justify-content: space-evenly;
}

.cada-turma b {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 10px;
}

.cada-turma .texto-escuro {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
}

.turma-mentoria b {
    font-size: 25px !important;
}

.turma-mentoria .texto-vermelho {
    position: absolute;
}

.depoimento-page-curso {
    background: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}

.depoimento-page-curso h2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    color: #212121;
    text-align: center;
}

.cada-turma .inner-link {
    position: absolute;
    bottom: 0;
}

.cada-turma button {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25.5px !important;
    max-width: 220px;
}

.turma-mentoria button {
    font-size: 13px !important;
}

.depoimento-page-curso .img-depoimentos-cursos {
    float: none;
    display: block;
    margin: 0 auto;
    max-height: 100px !important;
    width: 100px;
}

.curso_depoimento img {
    border-radius: 50%;
}

.curso_depoimento {
    text-align: center;
}

.curso_depoimento h4 {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    padding-top: 5px;
}

.curso_depoimento b {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
}

.curso_depoimento p {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    max-width: 750px;
    display: block;
    margin: 0 auto;
}

.curso_depoimentos {
    width: 100px;
    height: 30px;
    display: block !important;
    margin: 0 auto;
    border-radius: 25.5px;
    margin-top: 20px;
    position: relative;
}

.curso_depoimentos .botao_proximo {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 0;
    width: 50%;
}

.curso_depoimentos .botao_anterior {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    width: 50%;
}

.navagacao_dep .botao_proximo {
    width: 50px !important;
}

.navagacao_dep .botao_anterior {
    width: 50px !important;
}

.forma-pgto {
    height: 235px;
}

.forma-pgto h3 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.forma-pgto .btn-white {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25.5px;
}

.btn-pgto {
    padding-top: 40px;
}

.btn-pgto a {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #212121 !important;
}

.pq-fazer-curso {
    display: flex;
    align-items: center;
    min-height: 215px;
}

.pq-fazer-curso .feature.boxed {
    background: rgba(255, 255, 255, 0.76);
    border-radius: 4px;
    height: 340px;
    max-width: 325px;
}

.parallax > .background-image-holder {
    height: 600px !important;
}

.pq-fazer-curso .feature i {
    color: #212121 !important;
}

.pq-fazer-curso h5 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #212121 !important;
    text-transform: capitalize;
}

.pq-fazer-curso p {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #212121 !important;
}

.conteudo-curso {
    padding-top: 40px;
}

.conteudo-curso h2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    color: #212121;
}

.descricao-curso h5 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #212121;
}

.descricao-curso ul li {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
    padding-top: 10px;
}

.descricao-curso ul {
    list-style-type: square !important;
}

.contato-curso strong {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #212121;
    padding-top: 35px;
    display: block;
}

.contato-curso p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
    padding-top: 30px;
}

.contato-curso i {
    margin-bottom: 20px;
    font-size: 20px;
    padding-right: 10px;
}

.curso-videos {
    padding-bottom: 50px !important;
}

.curso-videos .local-video-container video {
    height: 150px !important;
}

/*.play-button{
    background: url("../img/play-video.png")!important;
    height: 70px;
    width: 70px;
}
*/

.play-button:before {
    /*content: url("../img/play-video.png")!important;*/
    background: url("../img/play-video.png") !important;
    height: 74px;
    width: 74px;
}

.curso-videos h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #212121;
}

.box-contato {
    background: #ffffff !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px;
}

.box-contato .titulo-box {
    border-radius: 5px;
    padding: 10px;
}

.box-contato h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
}

.box-contato h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
    text-align: center;
}

.box-contato .interno-box .radio_cursos, #form_ebook .radio_cursos {
    width: 100% !important;
    display: inline-flex !important;
}

.box-contato .interno-box .radio input:checked + span, #form_ebook .radio input:checked + span {
    border: 3px solid #999 !important;
}

.box-contato .interno-box .radio_cursos label, #form_ebook .radio_cursos label {
    color: #666 !important;
    font-size: 14px !important;
    margin-left: 10px;
}

.interno-box input {
    border: none;
    border-bottom: 1px solid rgba(52, 52, 52, 0.64);
    background: unset;
    padding-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    height: 30px;
    outline: none !important;
}

.interno-box button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25.5px !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 50px;
    max-width: 250px;
    margin: 0 auto;
    display: block;
}

.box-facebook {
    background: #e9e9e9;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.single-view hr {
    display: none;
}

.single-view h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    color: #212121;
}

.single-view p,
.single-view ul li {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
}

.page-testes {
    text-align: center;
    padding: 100px 0 100px;
}

.form-teste form {
    display: block;
    text-align: center;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    padding-top: 75px;
}

.form-teste input {
    border: none;
    border-bottom: 1px solid rgba(52, 52, 52, 0.64);
    background: unset;
    padding-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    height: 30px;
}

.form-teste button {
    background: #304da5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25.5px !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 80px;
    max-width: 350px;
}

/* Footer
/---------------------------------------------------------------------------- */
footer {
    color: #000000;
}

/* Media Queries
/---------------------------------------------------------------------------- */

/* Extra large devices (large desktops, 1200px and up) 
    Para todos as telas menores de Desktop */

@media (min-width: 1600px) {
    #home-section-methodus .methodus-curso-presencial {
        min-height: 402px !important;
    }

    .nav-utility {
        margin: 40px 115px !important;
    }
}

@media (max-width: 1200px) {
    #home-section-methodus .methodus-cursos,
    #home-section-methodus .methodus-curso-presencial {
        padding: 40px 20px !important;
    }

    #home-section-methodus .methodus-curso-presencial {
        padding-left: 100px !important;
    }
}

@media (max-width: 1024px) {
    nav.nav-centered .logo {
        width: 160px;
    }
    .menu-item {
        margin: 0 !important;
    }
    .image-edge {
        padding: 75px 0 !important;
    }

    /* Menu */

    header .module {
        padding: 0 10px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
    /*Header*/
    .box-menu-header {
        display: unset;
        padding: unset;
    }
    .box-menu-header li {
        margin-right: unset;
        text-align: left;
    }
    .list-inline > li:first-child {
        padding-left: 8px !important;
    }
}

/* Small devices (landscape phones, 576px and up) 
    Para todos os mobiles */
@media (max-width: 768px) {
    /* CSS MOBILE DEVEM SER AJUSTADOS AQUI - Lembre-se de tirar os padding e margins que utilizou no Desktop */

    /*SlickSlider*/
    .box-arrow-slider {
        display: none;
    }

    /* =] */
    .header_mobile {
        display: block;
    }
    .header_desktop {
        display: none;
    }

    #leftpopup {
        width: 98% !important;
    }

    #rightpopup {
        width: 98% !important;
    }

    /* menu */

    header .nav-utility {
        display: flex;
        justify-content: space-around;
    }

    .nossos-cursos-titulo {
        margin: 30px 0 !important;
    }

    #home-nossos-cursos-section {
        padding: 0px 0 30px;
    }

    #secao_generico_popup {
        background-size: cover !important;
    }

    #home-section-methodus .methodus-cursos,
    #home-section-methodus .methodus-curso-presencial {
        padding: 20px !important;
    }

    #home-section-methodus .methodus-curso-presencial {
        min-height: auto !important;
    }

    #artigos-pagina #conteudo_paginado {
        padding-right: 15px;
    }

    .pq-fazer-curso .feature.boxed {
        height: 330px;
    }

    .pq-fazer-curso h5 {
        font-size: 18px;
    }

    .feature.boxed {
        padding: 10px;
    }

    .turma-mentoria b {
        font-size: 22px !important;
    }

    .turma-mentoria .texto-escuro-mentoria {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    br {
        display: block !important;
    }
}

/* Extra small devices (portrait phones, less than 576px) 
    Ajustes mais finos podem ser feitos aqui
    #ATENCAO# utilizar em caso de extrema necessidade */
@media (max-width: 576px) {
    #leftpopup {
        width: unset;
        float: unset;
        margin: 0 2%;
    }

    #rightpopup {
        width: unset;
        float: unset;
        margin-bottom: 10px;
    }

    .prox-turma .cada-turma {
        margin-left: 0;
        margin-right: 0;
    }

    /*    #artigos-pagina .imagem-noticia{
         height: 100px;
    }
*/
    #artigos-pagina .imagem-noticia img {
        width: 100%;
        max-width: 100%;
        border-radius: 5px 5px 0px 0px;
    }

    #artigos-pagina .footer-not {
        padding-top: 0px;
    }
}
/* Max 425px and up) */
@media (max-width: 425px) {
    .nav-utility .module.left {
        display: none !important;
    }

    .nav-utility .module.left:nth-child(1) {
        display: block !important;
    }

    header .nav-utility {
        margin: 20px 0 0 !important;
    }

    nav.nav-centered .logo {
        max-height: 60px !important;
    }

    .home-cursos-box {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    #nossos_cursos p {
        text-align: center;
    }

    #home-teste {
        padding: 25px 0 !important;
    }

    #home-nossos-cursos {
        padding: 25px 0 !important;
    }

    #home-nossos-cursos h3 {
        margin-bottom: 10px !important;
    }

    #home-teste h3 {
        margin-bottom: 0px !important;
    }

    body {
        margin-bottom: 20px !important;
    }

    footer {
        text-align: center;
    }

    #secao_generico_popup .bio_btn {
        font-size: 13px !important;
    }

    #home-imagem-section .botao-section-imagem {
        text-align: center;
    }

    #home-imagem-section {
        margin-top: 25px !important;
    }

    #home-section-methodus .botao-section-methodus {
        justify-content: center !important;
    }

    #home-section-methodus img {
        display: flex;
        margin: 0 auto;
    }

    #artigos-pagina {
        padding: 25px 0 !important;
    }

    #artigos-pagina .container-artigo {
        display: block;
    }

    .prox-turmas-cards {
        display: block;
        margin: 15px;
    }

    .page-curso .caixa_ebook button {
        margin-left: 0;
    }

    .prox-turma .cada-turma {
        height: auto;
    }

    .btn-pgto {
        padding-top: 0;
    }

    .btn-pgto a {
        font-size: 15px;
    }

    .pq-fazer-curso .feature.boxed {
        height: auto;
    }

    .pq-fazer-curso .feature.boxed {
        max-width: 100%;
    }

    .parallax > .background-image-holder {
        height: 100% !important;
    }

    .contato-curso p {
        padding: 0;
    }

    #home-imagem-section h6 {
        margin-top: 10px;
    }
}
/* Max 375px and up) */
@media (max-width: 375px) {
    .turma-mentoria b {
        font-size: 20px !important;
    }

    .turma-mentoria .texto-escuro-mentoria {
        font-size: 18px;
    }
}

/* Max 320px and up) */
@media (max-width: 320px) {
    .nav-utility {
        text-align: center;
    }
    .nav-utility .module {
        display: block;
    }
    .nav-utility .module.left {
        float: unset;
    }
    .nav-utility .module.right {
        float: unset;
    }
    .radio_cursos {
        font-size: 12px;
    }
    .secao_generico_popup .title {
        font-size: 23px;
    }

    #home-teste a {
        font-size: 15px;
    }

    #home-nossos-cursos a {
        font-size: 13px;
    }

    .page-curso .chamada-ebook {
        padding-left: 0;
    }
    .page-curso .caixa_ebook img {
        margin-bottom: 20px;
    }

    .turma-mentoria b {
        font-size: 17px !important;
    }

    .turma-mentoria .texto-escuro-mentoria {
        font-size: 15px;
    }
}

.grecaptcha-badge {
    visibility: collapse !important;
}
