
.foto_conteudo{
	display:inline-block;
	float:left;
	margin-right:1em;
	margin-bottom:1em;	
}
.thumb_pequeno{
	display:inline-block;
	float:left;
	margin-right:1em;
	margin-bottom:1em;	
	width:15%;	
}

.video{
	width:720px;
	height:400px;
	display:block;
	clear:both;
	margin:auto;	
	margin-bottom:1em;
}
.label a{
	color:#FFF;	
}
h4 + .label{
	margin-left:1em;	
}


/*TELA DE CARREGAMENTO*/

.div_carregamento{
	position:fixed;
	top:0px;
	left:0px;
	width:1280px;
	height:720px;
	background-color:#000;
	opacity:0.6;	
	z-index:1000;
	display:none;
}

.icone_carregando{
	position:absolute;
	top:0px;
	left:0px;	
}

.carregando {
	display:block;
    background-color: rgba(0,0,0,0);
    border: 7px solid #265788;
    opacity: .9;
    border-top: 7px solid rgba(0,0,0,0);
    border-left: 7px solid rgba(0,0,0,0);
    border-radius: 80px;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    -moz-animation: spin .9s infinite linear;
    -webkit-animation: spin .9s infinite linear;
}

.investimento_vermelho .cor{
	color:#a00000 !important;
}
.investimento_verde .cor{
    color: green !important;
}
.investimento_azul .cor{
    color: #006699 !important;
}
.investimento_laranja .cor{
    color:orange !important;
}

.meio_botao{
	cursor:pointer;
	padding:1em 0 0 0;
	border:solid 3px #FFF;
	border-radius:10px;
	transition: background-color 0.3s linear, border 0.3s linear;
	position:relative;
}

.meio_botao:hover{
	background-color:#EEE;
	border:solid 3px;
}
.meio_botao:active{
	background-color:#FFF;
	top:3px;
}
.borda-vermelho:hover{
	border-color:#a00000;
}
.borda-verde:hover{
	border-color:green;
}
.borda-azul:hover{
	border-color:#006699;
}
.borda-laranja:hover{
	border-color:orange;
}

.codigo_seguranca{
	position:relative;	
	overflow:visible !important;
	cursor:pointer;
	padding:1em 0;
	color:#06C;
}
.codigo_seguranca:hover{
	color:#F00;
	text-decoration:underline;
}
#codigo_seguranca{
	display:none;
	position:absolute;
	z-index:10;
	background-color:#000;
	color:#FFF;
	padding:1em;
}

.caixa_meio_pagamento label input{
	visibility:hidden;
}
.caixa_meio_pagamento label{
	cursor:pointer;	
	border:solid 3px #FFF;
	border-radius:10px;
	padding:0.5em;
}
.caixa_meio_pagamento label:hover{
	cursor:pointer;	
	background-color:#EEE;
	border:solid 3px;
	border-color:#006699;
}

/* input[type=radio] + span{
  	display:none;
	color:#093;
	font-size:10px;
	font-weight:bold;
	border-radius:50%;
	border:solid 3px #093;
	width:30px;
	height:30px;
	text-align:center;
	margin-right:0.5em;
	vertical-align:middle;
	overflow:hidden;
	
}
input[type=radio]:checked + span {
  	display:inline-block;
}  */

.img-depoimentos-cursos {
	max-height: 60px;
	float:left;
	margin-right:1em;
}

.curso_depoimentos{
	position: relative;
}
.curso_depoimentos .botao_proximo, .curso_depoimentos .botao_anterior{
	float: right;
	background-color: #474b57;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-right: 0.5em;
	margin-top: 1em;
	cursor: pointer;
}
.curso_depoimentos .botao_proximo:hover, .curso_depoimentos .botao_anterior:hover{
	background-color: #5e6479;
}

.curso_depoimentos .botao_proximo:before, .curso_depoimentos .botao_anterior:before{
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	margin: auto;
	border-top: solid 2px #FFF;
	border-right: solid 2px #FFF;
	margin-top: 5px;
}

.curso_depoimentos .botao_proximo:before{
	-ms-transform:rotate(45deg); /* IE9 */
    -moz-transform: rotate(45deg);  /* FF3.5/3.6 */
    -o-transform: rotate(45deg);  /* Opera 10.5 */
    -webkit-transform: rotate(45deg);  /* Saf3.1+ */
    transform: rotate(45deg);  /* Newer browsers */
}
.curso_depoimentos .botao_anterior:before{
	-ms-transform:rotate(225deg); /* IE9 */
    -moz-transform: rotate(225deg);  /* FF3.5/3.6 */
    -o-transform: rotate(225deg);  /* Opera 10.5 */
    -webkit-transform: rotate(225deg);  /* Saf3.1+ */
    transform: rotate(225deg);  /* Newer browsers */
}

.curso_depoimento + .curso_depoimento{
	display: none;
}

.dias_turma{
	display:none;	
}

.dias_turma.visivel{
	display:block;	
}

.perfil{
	display: block;
	margin: 0.2em 1em;

}


.caixa_ebook{
	font-size: 0.85em;
	padding-bottom: 1em !important;
	padding-top: 2em !important;
	/*background: #474b57 !important;*/
}
.caixa_ebook h5{
	font-size: 1.5em;
	padding-bottom: 12px;
	display: block;
	text-align: left;
    font-weight: 900;
    letter-spacing: 0.1em;
}
.caixa_ebook .chamada-ebook{
	font-size: 1.8em;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.3em;
	letter-spacing: 0.2em;
}
.caixa_ebook h3{
	margin: 0 auto;
	margin-bottom: 0.3em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.caixa_ebook.vermelho h3{
	color:#cf1515;
}
.caixa_ebook.azul h3{
	color:#0e84be;
}
.caixa_ebook.laranja h3{
	color:orange;
}
.caixa_ebook.verde h3{
	color:#208023;
}

.caixa_ebook button{
	border: solid 2px #FFF !important;
	height: 30px !important;
	line-height: 30px !important;
}
.caixa_ebook input{
	color: #000 !important;
}
.caixa_ebook img{
	float:left; 
	margin-right:10px;
}


.caixa_ebook .btn {
  border: 0 !important;
}

.caixa_ebook input[type="text"] {
  margin-bottom: 16px;
  height: 30px !important;
}

.titulo-curso span {
	display: block;
	font-size: 0.5em;
}

.botao_whatsapp, .botao_whatsapp:visited{
	position: fixed;
	bottom: 1em;
	right:1em;
	display: block;
	padding: 0.5em 1em;
	border-radius: 6px;
	font-size: 1.4em;
	font-weight: bold;
	cursor: pointer;
	background-color: #093;
	color:#FFF;
	box-shadow: -5px 13px 15px rgba(0, 0, 0, 0.5);
	border-bottom: none;
	z-index: 10;
}
.botao_whatsapp:hover{
	background-color: #2ca554;
	color:#FFF;
	border-bottom: none;
}
.botao_whatsapp i{
	background-image: url('../../img/icone_whatsapp.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5em;
}


  .radio {
	display: inline-block;
	padding-right: 1em;
	font-size: 1em;
	cursor: pointer;
	color: #000;
  }

  .radio input {
	width: 1px;
	height: 1px;
	opacity: 0;
  }
  
  .radio input:checked + span::after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
  }
  
  .radio input:checked + span { border: 3px solid #000; }
  
  .radio input:focus + span::after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	background-color: #000;
  }
  
  .radio span {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	margin: 3px 9px 10px 10px;
	border: 3px solid #999;
	border-radius: 50%;
	background-color: #fff;
  }
  
  .radio span::after {
	  content:'';
	  display:inline-block;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	width: 10px;
	height: 10px;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	display: block;
	margin: 2px;
	border-radius: 50%;
	background-color: #000;
	opacity: 0;
  }

  .radio_cursos{
	  display: block;
	  clear: both;
	  text-align: left;
  }

  .radio_cursos .radio{
	  padding-bottom: 0;
	  padding-top: 0;
	  display: block;
  }

  .post_imagem{
	  display: block;
	  width: 100%;
	  height: 200px;
	  background-position: center;
	  background-size: cover;
	  background-repeat: no-repeat;
  }




@media all and (max-width: 767px) {
	.foto_conteudo{
		width:100%;
		display:block;
		clear:both;
		float:none;
		margin-right:0;
		margin-bottom:0;	
	}
	
	.video{
		width:100%;
		height:200px;
		display:block;
		clear:both;
		float:none;
		margin-right:0;
	}


	.caixa_ebook .chamada-ebook{
		font-size: 1em;
		text-align: right;
	}

	.botao_whatsapp{
		font-size: 0.8em;
		bottom: 5rem;
	}
	.botao_whatsapp i{
		width: 25px;
		height: 25px;;
	}

}

@media (min-width: 768px) {
	.ultimos-posts .col-sm-4 {
	
		width: 31.333333%;
		margin: 0 1%;
		background: white;
	}
}





@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    };
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    };
}


