@charset "utf-8";
/* CSS Document */

#bio_ep {width: 800px; height: 300px; color: #333; background-color: #fafafa; text-align: center;}
#bio_ep_content {padding: 24px 0 0 0; font-family: "Raleway";}
#leftpopup {width: 40%; float: left; margin-right:2%;}
#rightpopup {width: 57%; float: left;}
#titulo-popup {padding: 12px 0 12px 0; font-family: "Raleway"; background-color: #1F367E; font-size: 24px; font-weight: 600;}
#bio_ep_content span:nth-child(1) {display: block; color: #f21b1b; font-size: 32px; font-weight: 600;}
#bio_ep_content span:nth-child(2) {display: block; font-size: 16px;}
#bio_ep_content span:nth-child(3) {display: block; margin: -5px 0 0 0; font-size: 16px; font-weight: 600;}
.bio_btn {
	display: inline-block; 
	margin: 18px 0 0 0; 
	padding: 7px; 
	color: #fff !important; 
	font-size: 14px !important; 
	font-weight: 60 !important0; 
	background-color: #70bb39 !important; 
	border: 1px solid #47ad0b !important; 
	cursor: pointer !important; 
	-webkit-appearance: none !important; 
	-moz-appearance: none !important; 
	border-radius: 0 !important; 
	text-decoration: none;
	height:auto !important;
	line-height:normal !important;
	width:auto !important;
}